* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2 {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}
#box3 {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
