* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    background-color: #111;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 41, 27);
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8px;
    z-index: 6;
}

#image {
    width: 60vw;
    height: 30vw;
    position: relative;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 8;
}
