* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 7;
}

#image {
    width: 60vw;
    height: 30vw;
    background-color: red;
    position: relative;
}

#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}
